

.title {
    text-align: center;
    color: rgb(231, 198, 141);
    font-weight: bolder;

}

.subtitle {
    color: rgb(203, 122, 17);
    margin-bottom: 0;
    font-size: 2em;
}

.section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.subtitle-separator{
    border: 2px solid rgb(215, 129, 54);
}

.subtitle-info{
    color: burlywood;
    font-weight: bolder;
    font-size: 1.5em;
}

.highlighted-info {
    color: rgb(223, 146, 4);
}