

.title {
    text-align: center;
    color: rgb(234, 167, 51);
    font-weight: bolder;

}

.subtitle {
    color: rgb(203, 122, 17);
    margin-bottom: 0;
    font-size: 2em;
}

.section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.subtitle-separator{
    border: 2px solid rgb(215, 129, 54);
}

.subtitle-info{
    color: burlywood;
    font-weight: bolder;
    font-size: 1.5em;
}

.highlighted-info {
    color: rgb(206, 143, 27);
}

.code-snippet {
    width: 50%;
    font-size: small;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlighted-info .katex {
    font-weight: bolder;
}

.tr-example-pic {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border: 3px solid rgb(227, 150, 7);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}