

.title {
    text-align: center;
    color: rgb(215, 129, 54);
    font-weight: bolder;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.subtitle {
    color: rgb(203, 122, 17);
    margin-bottom: 0;
    font-size: 2em;
}

.section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.title-separator {
    border: 2px solid burlywood;
 
    width: 80%;
    margin-top: 0;
    margin-bottom: 50px;
}

.subtitle-separator{
    border: 2px solid rgb(215, 129, 54);

}

.subtitle-info{
    color: burlywood;
    font-weight: bolder;
    font-size: 1.5em;
}

.highlighted-info {
    color: rgb(206, 143, 27);
}

.code-snippet {
    width: 50%;
    font-size: small;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlighted-info .katex {
    font-weight: bolder;
    max-width: 100%;
}

.tr-example-pic {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    border: 3px solid rgb(227, 150, 7);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle-info br {
    margin-bottom: 20px;
}

.example-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    
    border: 4px solid rgb(215, 129, 54);
}

.example-container legend {
    display: block;
    padding-left: 2px;
     padding-right: 2px;
    border: none;
    font-size: 1.5em;
}

.highlighted-info .katex {
    font-size: 25px;
  }

  /* Medium screens (e.g., tablets) */
  @media (max-width: 768px) {
    #katex-container {
      font-size: 16px;
    }
  }

  /* Small screens (e.g., phones) */
  @media (max-width: 480px) {
    #katex-container {
      font-size: 14px;
    }
  }